/* .title {
  text-align: center;
} */


.body {
  display: grid;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  min-height: 100vh;
  grid-template-columns: 25vw 75vw;
  grid-template-rows:  15vh 10vh 70vh;
  grid-template-areas:  "logo    bio"
                        "sidebar search"
                        "sidebar main"
}

.logo{
  grid-area: logo;
}

.bio {
  grid-area: bio;
  display: flex;
  justify-content: flex-end;
}

.profilePic{
  border-radius: 50%
}
.sidebar {
  grid-area: sidebar;
  /* justify-content: stretch; */

}

.search{
  grid-area: search;
}

.form{
  text-align: left;
  justify-self: center;
}

.main {
  grid-area: main;
}

.userInfo {
  display: flex;
  border: 1px solid black;
  width: 40%;
}

