/* .title {
  text-align: center;
} */


.body {
  color: white;
  background-image: url('https://imgur.com/v4DHaEp.png');
  background-size: cover;
  height: 200vh;
  margin: 0;
  display: grid;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  min-height: 100vh;
  grid-template-columns: 25vw 75vw;
  grid-template-rows:  15vh 10vh 70vh;
  grid-template-areas:  "logo    bio"
                        "sidebar search"
                        "sidebar main"
}

.logo{
  grid-area: logo;
  text-align: center;
}

.bio {
  grid-area: bio;
  display: flex;
  justify-content: flex-end;
}

.profilePic{
  border-radius: 50%;
  /* text-align: center; */
  height: 150px;
  width: 150px;
}

.inbox{
  padding: 5px 20px;
  margin: 25px 0;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  /* justify-content: stretch; */

}

.searchForm {
  text-align: center;
}

.search{
  grid-area: search;
}

.form{
  text-align: left;
  justify-self: center;
}

.main {
  grid-area: main;
}

.userInfo {
  display: flex;
  border: 1px solid black;
  width: 60%;
}

.userBio{
  padding: 2em;
}

.link{
  color: #F37402;
}
