.profile {
  color: white;
  text-align: center;
  font-size: 1.5em;
  background-image: url('https://imgur.com/v4DHaEp.png');
  background-size: cover;
  height: 140vh;
  margin: 0; 
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px 0;
}

.message {
  color: chartreuse;
  font-size: 1.5em;
}

.material-icons.md-48 {
  font-size: 48px; 
}

.normal {
  border: none
}

.happyhighlight {
  border: 5px solid green
}

.sadhighlight {
  border: 5px solid red
}

.chat{
  width: 30em;
  height: 7em;
}

.link{
  color: #F37402;
}
